{% block sidebar %}

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
    <div class="card my-4">
            <h5 class="card-header">About Me</h5>
        <div class="card-body">
            <p class="card-text">Hi! I'm Bistcuite, a software engineer that love computer programs.</p>
            <a href="https://github.com/bistcuite"
            class="btn btn-dark">GitHub</a>
            <a href="https://virgool.io/@bistcuite"
            class="btn btn-primary">Virgool</a>
            <a href="https://github.com/bistcuite"
            class="btn btn-info">LinkedIn</a>
        </div>
    </div>
    </div>

{% endblock sidebar %}